@font-face {
    font-family: 'OpenSans';
    src: url("assets/fonts/OpenSans-Regular.ttf");
}

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'OpenSans';
    min-height: 100vh;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(189, 186, 186);
}

nav {
    border: 1px solid red;
    background-color: #998282;
}

header {
    border: 1px solid red;
    display: flex;
}

main {
    border: 1px solid red;
    display: flex;
    width: 100%;
}

footer {
    border: 1px solid red;
    background-color: #998282;
}



.nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
}

.nav-link {
    padding: 0 20px;
    line-height: 50px;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    color: rgb(45, 45, 45);
    
}

.nav a {
    color: rgb(45, 45, 45);
    text-decoration: none;  
    transition: color 0.5s;
  }
.nav a:hover {
    color: #036d91fe;
}

.education-link {
    color: rgb(45, 45, 45);
    text-decoration: none;  
    transition: color 0.5s;
  }
.education-link:hover {
    color: #036d91fe;
}

aside {
    width: 70%;
    padding: 20px
}

.main {
    width: 30%;
    padding: 20px
}

.contact-list {
    list-style: none;
}

.contact-list li img {
    vertical-align: middle;
    margin-right: 10px;
}

.contact-list li p {
    display: inline;
    vertical-align: middle;
  }
.footer-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header {
    display: flex;
    padding: 50px 30px 35px;
    text-align: center;
    max-width: 1300px;     
    border-bottom: 15px solid #998282;
  }
  
  header img {
    margin-bottom: 5px;
    border: 7px solid #998282;
    border-radius: 50%;
    width: 30%;
    height: 100%;
  }

  .name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    text-transform: uppercase;
    }
  

  h1 {
    font-size: 60px;
    margin-bottom: 5px;
    position: relative;
  }

  h2 {
    font-size: 40px;
  }
  
  .section {
    

  }

  